@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: Roboto-medium;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Roboto-regular;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Regular.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Roboto-Light;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Light.ttf);
  /* Путь к файлу со шрифтом */ }

header {
  height: 100vh;
  width: 100vw;
  position: relative; }
  header section {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lime;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 250% 100%; }
    header section nav {
      position: absolute;
      top: 4px;
      width: 100%;
      height: 8vh; }
      header section nav .menu-items {
        list-style-type: none; }
        header section nav .menu-items .menu-items__item {
          display: inline-block; }
          header section nav .menu-items .menu-items__item .menu-items__link {
            display: block;
            width: 100%;
            height: 100%; }
            header section nav .menu-items .menu-items__item .menu-items__link i {
              font-size: 32px;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.85); }
        header section nav .menu-items .menu-items__item:nth-child(1) {
          padding-left: 5px; }
        header section nav .menu-items .menu-items__item:nth-child(2) {
          padding-left: 5px;
          padding-right: 5px; }
    header section article {
      height: 140px;
      width: 140px;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      background-image: url(../img/face.JPG);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    header section div {
      margin-top: 35px;
      height: 70px;
      width: 100%;
      text-align: center; }
      header section div p:first-child {
        font-family: Roboto-medium;
        font-size: 21px;
        color: white; }
      header section div p:last-child {
        font-family: Roboto-regular;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75); }
    header section .little-arrow {
      position: absolute;
      margin: 0px;
      bottom: 5vh;
      width: 100%;
      height: 10vh;
      text-align: center; }
      header section .little-arrow .little-arrow__down {
        text-decoration: none;
        bottom: 5vh;
        width: 13vw; }
        header section .little-arrow .little-arrow__down i {
          font-size: 36px;
          color: rgba(255, 255, 255, 0.75); }
  header .menu-bars {
    position: fixed;
    top: 4px;
    right: 4px;
    padding-right: 10px;
    z-index: 100; }
    header .menu-bars .menu-bars__item {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center; }
      header .menu-bars .menu-bars__item i {
        font-size: 34px;
        color: white; }
  header .menu-table {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    z-index: 90;
    display: none; }
    header .menu-table .menu-table__items {
      position: fixed;
      list-style-type: none;
      display: block;
      margin-top: 60%;
      width: 100%; }
      header .menu-table .menu-table__items .menu-table__item {
        display: block;
        margin: 10px; }
        header .menu-table .menu-table__items .menu-table__item .menu-table__link p {
          font-family: Roboto-medium;
          font-size: 24px; }

body {
  background-color: #ebefe2; }

main {
  position: relative;
  width: 100vw;
  z-index: 80; }
  main .main-content__about {
    background-color: #ebebeb;
    height: 100vh;
    width: 100%; }
    main .main-content__about .main-content__caption {
      position: absolute;
      top: 0px;
      width: 100%;
      margin: 0px;
      text-align: center; }
      main .main-content__about .main-content__caption p {
        font-family: Roboto-medium;
        font-size: 2.5em;
        color: rgba(0, 0, 0, 0.8); }
      main .main-content__about .main-content__caption .main-content__underline {
        display: block;
        margin: 0 auto;
        width: 20vw;
        height: 0.63vh;
        background-color: rgba(0, 0, 0, 0.8); }
    main .main-content__about .main-content__text {
      margin-top: 5vh;
      display: block;
      width: 100%;
      height: 80vh;
      text-align: center;
      background-image: url(../img/about_me.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top; }
  main .main-content__about::before {
    content: " ";
    display: block;
    position: relative;
    top: -7.85vh;
    width: 100%;
    height: 8vh;
    background-image: url(../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: bottom; }
  main .main-content__who {
    background-color: #ebebeb;
    height: 100vh;
    width: 100%; }
    main .main-content__who .main-content__who-caption {
      width: 100%;
      text-align: center; }
      main .main-content__who .main-content__who-caption p {
        font-family: Roboto-medium;
        font-size: 1.8em;
        color: rgba(0, 0, 0, 0.8); }
      main .main-content__who .main-content__who-caption .main-content__underline {
        display: block;
        margin: 0 auto;
        width: 20vw;
        height: 0.6vh;
        background-color: rgba(0, 0, 0, 0.8); }
    main .main-content__who .main-content__who-text {
      width: 100%;
      height: 60%;
      margin-top: 10px;
      padding: 10px; }
      main .main-content__who .main-content__who-text p {
        font-size: 1em;
        font-family: Roboto-Light;
        color: rgba(0, 0, 0, 0.7); }

@media only screen and (min-width: 480px) {
  header {
    background-size: 220% 120%;
    -webkit-transition: 0.5s;
    transition: 0.5s; } }
