footer.footer
	section.footer-content
		div.footer-content_menus
			ul.footer-content__menu-list
				li.footer-content__menu-item
					a(href="#jobs" target="_blank").footer-content__link Мои работы
				li.footer-content__menu-item
					a(href="#about").footer-content__link Обо мне
			article.footer-content__socials
				nav.menu
					ul.menu__items
						li.menu__item
							a(href="https://vk.com/a.karnauh" target="_blank").menu__link
								i.fa.fa-vk
						li.menu__item
							a(href="https://www.facebook.com/starflesh" target="_blank").menu__link
								i.fa.fa-facebook
						li.menu__item
							a(href="https://github.com/starflesh" target="_blank").menu__link
								i.fa.fa-github
		article.footer-content__text-down
			blockquote.footer-content__quote
				p.footer-content__text-quote Любой дурак сможет написать код, который поймет машина. Хорошие программисты пишут код, который сможет понять человек.
			p.footer-content__author - Martin Fowler
	section.footer-center
	section.footer-bottom
		p.footer-bottom__author &copy Андрей Карнаух | 2017
script(src="js/components/menu.js")
script(src="js/components/scrolling.js")
script(src="js/components/scrollup.js")
script(src="js/components/preloader.js")
