header.header
	section.loaderArea
		div.loader
	section.header__content
		nav.menu
			ul.menu__items
				li.menu__item
					a(href="https://vk.com/a.karnauh" target="_blank").menu__link
						i.fa.fa-vk
				li.menu__item
					a(href="https://www.facebook.com/starflesh" target="_blank").menu__link
						i.fa.fa-facebook
				li.menu__item
					a(href="https://github.com/starflesh" target="_blank").menu__link
						i.fa.fa-github
		article.header__photo
			img(src="../img/face.JPG",alt="Карнаух Андрей").header_photo-me
		div.header__title-photo
			h1 Андрей Карнаух
			p Личный сайт веб разработчика
	div.little-arrow
		a(href="#about").little-arrow__down
			i.fa.fa-chevron-down.go_to
	div.menu-bars
		a(href="#menu")#menu-bars.menu-bars__items
			i.fa.fa-bars#fa-menu
	div#menus
		ul.menu-table__items
			li.menu-table__item
				a(href="#" target="_blank")#jobs.menu-table__link Мои работы
			li.menu-table__item
				a(href="#about")#about-me.menu-table__link Обо мне
