header
	section
		nav
			ul.menu-items
				li.menu-items__item
					a(href="#vk").menu-items__link
						i.fa.fa-vk(aria-hidden="true")
				li.menu-items__item
					a(href="#facebook").menu-items__link
						i.fa.fa-facebook(aria-hidden="true")
				li.menu-items__item
					a(href="#github").menu-items__link
						i.fa.fa-github(aria-hidden="true")
		article
		div
			p Андрей Карнаух
			p Личный сайт веб разработчика
		div.little-arrow.flex-container
			a(href="#about").little-arrow__down.flex-item
				i.fa.fa-chevron-down
	div.menu-bars
		a(href="#menu").menu-bars__item
			i.fa.fa-bars(aria-hidden="true")
	div.menu-table
		ul.menu-table__items
			li.menu-table__item
				a.menu-table__link
					p Item1
			li.menu-table__item
				a.menu-table__link
					p Item2
			li.menu-table__item
				a.menu-table__link
					p Item3