head
	title my site
	link(rel="stylesheet", type="text/css", href="css/libs.min.css")
	link(rel="stylesheet", type="text/css", href="css/main.css")
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	script(src="js/libs.min.js")
	script(src="js/common.js")