main.main
	section#jobs.jobs
	section.eror
		.loader
			.loader__items
				.loader__item
				.loader__item
				.loader__item
				.loader__item
			.loader__text 
				h2 KAO Web Design
		div.eror__information
			p.eror__text Упс, данная страница находится в стадии разработки. Совсем скоро все будет готово, а пока жмите
			a(href="../index.html").eror__link вернуться на главную
