@charset "utf-8";
*{
margin:0px;
padding:0px;
border:0px;
box-sizing:border-box;
}
@font-face {
   font-family: CaviarDreams; /* Гарнитура шрифта */
   src: url(../fonts/CaviarDreams.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
   font-family: CaviarDreamsBold; /* Гарнитура шрифта */
   src: url(../fonts/CaviarDreams_Bold.ttf); /* Путь к файлу со шрифтом */
}
@import "import/vars";
@import "import/header";
@import "import/body";
@import "import/footer";
@import "import/media";
